body {
  font-family: 'Roboto', sans-serif;
}

.navbar-custom {
  background-color: lightblue;
}

.navbar-text-custom {
  color: black;
}

.pointer {
  cursor: pointer;
}

.findPatientContainer {
  margin: 2rem auto;
  max-width: 640px;
}

.findPatientHeader {
  font-size: 2rem;
}

.findPatientField  {
  width: 100%;
}

.tabTitle {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
}


.findPatientResult {
  cursor: pointer;
}

.findPatientResult:hover {
  background: rgba(248, 249, 252, 0.9);
}

.findPatientResult a,
.findPatientResult a:hover {
  text-decoration: none;
  color: black;
}

.patientInfo {
  position: relative;
}

.patientImg {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  width: 4.8rem;
  height: auto;
  border-radius: 3rem;
}

.patientDetails {
  padding-left: 5.5rem;
}

.patientDetails label {
  margin: auto;
  width: 96px;
}


.select2 {
  width: 100% !important;
}

.qtyStyle{
    line-height:28px !important;
    height:28px;
}

.fieldHeader {
    font-weight:bold;
}

.viewPrescribedContainer {
    margin: 0 40vw !important;
    align-content: center;
}

.floatRight{
    float:right;
}
